doctype html
html
	head
		title Janux Vue.js Seed
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='Distribution', content='global')
		meta(name='Robots', content='all')

		link(rel="stylesheet", href='//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons')

		// this is necessary to ensure that when using html5mode(true), and when reloading
		// the page or accessing a bookmark, the css and other links are relative to '/'
		// rather than /name-of-page
		base(href='/')
	body
		div(id="app")
