doctype html
html
	head
		title Janux Vue.js Seed
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		base(href='/')
		link(rel='stylesheet', href=cfg.server.static+'/'+cfg.dir.css+'/main.css?'+cfg.build.timestamp)

	body
		div(id="app")
		script(src=cfg.server.static + '/' + cfg.file.app + '?' + cfg.build.timestamp)

// vim: set fo=rq wrap:
