login-toolbar(title='user.title')

side-bar

.page-content-wrapper(ng-class="{'page-content-left' : noneStyle}")
	.container-fluid
		.row
			.col-lg-12

				.title-bar
					.title {{ 'label.staff' | translate }}
					.options
						a(ui-sref='staff.create')
							span.fa.fa-plus-circle.fa-lg 
							| &nbsp; Add
				hr

				table.list.users-list.list-with-footer(ng-show='staffList.length')
					thead
						tr
							th {{ 'party.person.name' | translate }}
							th {{ 'staff.phone' | translate }}
							th {{ 'staff.email' | translate }}
							th {{ 'staff.userName' | translate }}
							th
								.col-edit-staff {{ 'user.edit' | translate }}
							th
								md-button.md-icon-button(aria-label="Trash" style="background:none; margin-left:0px; margin-right:0px  padding-right:0px;" ng-click='openDelete()')
									md-icon.fa.fa-trash.fa-lg.trash-center(style="color:#ffffff; background:none; margin-left:15px; padding-right:50px;" )

					tbody
						tr(ng-repeat='staff in staffList')
							td {{ staff.name.middle }} {{ staff.name.last }}, {{ staff.name.first }}
							td {{ staff.phoneNumber('work').number }}
							td {{ staff.emailAddress('work').address }}
							td {{ staff.user }}
							td(style="text-align:center")
								a.action-button
									span.fa.fa-pencil.fa-lg(ui-sref='staff.edit({id:staff.id})')
							td(style="text-align:center")
								md-checkbox(aria-label="Trash" ng-model='staff.Selected' class="md-primary" style="margin-top:8px; margin-left:10px; background:none;")


footer-Janux