div
	v-jnx-header(:sectionTitle="sectionTitle")
	.page-content-wrapper.staff-view(v-bind:class="{ 'page-content-left' : navBarExpanded }")
		.container-fluid
			.row
				md-toolbar.form-root-toolbar.md-accent(md-elevation="1")
					.md-toolbar-tools.form-toolbar
						h3.md-title(style="flex: 1") {{ $t('staff.createStaff') }}

						//- md-button.md-icon-button.form-btn-toolbar(aria-label="Grid")
							md-icon
								span.fa.fa-table.fa-sm

						//- md-button.md-icon-button(aria-label="Upload")
							md-icon
								span.fa.fa-upload.fa-sm

				.container-fluid-flex.spacing-bottom

					//md-content.staff-name
					//	h4 {{ staff.name.shortName }}

					md-content.spacing-ls
						md-toolbar.form-mid-toolbar
							.md-toolbar-tools
								md-tabs(md-active-tab="tab-general")
									md-tab#tab-general(md-label="GENERAL DATA")

								span(flex)

								//md-button.md-icon-button.trash(aria-label="Trash")
								//	md-icon.fa.fa-trash.fa-lg

								md-button.md-icon-button.save(aria-label="Save", @click='save')
									md-icon
										span.fa.fa-check.fa-sm

								md-button.md-icon-button.cancel(aria-label="Cancel", @click='cancel')
									md-icon
										span.fa.fa-times.fa-sm

						.container-flex-form
							.staff-form-left.left-side-adjust
								v-jnx-person-name(section-title='party.contact', :data='staff')
								v-jnx-address(section-title='party.addressesTitle', :data='staff')

							.staff-form-right
								v-jnx-person-job(section-title='staff.jobTitle', :data='staff')
								v-jnx-phone(section-title='party.phonesTitle', :data='staff')
								v-jnx-email(section-title='party.emailsTitle', :data='staff')
	v-jnx-footer
