div
	v-jnx-header(:sectionTitle="sectionTitle")
	.page-content-wrapper(v-bind:class="{ 'page-content-left' : navBarExpanded }")
		.container-fluid(v-if="dataReady")
			.row
				md-toolbar.form-root-toolbar.md-accent(md-elevation="1")
					.md-toolbar-tools.form-toolbar
						h3.md-title(style="flex: 1") {{ $t('permission.editingRole') }} {{ role.name }}

						//- Destop controls
						.desktop-control
							include includes/responsive-edit-role.pug
				//- Responsive controls
				.responsive-control
					include includes/responsive-edit-role.pug

				.container-fluid-flex.spacing-bottom
					role-form(:role="role", :authContextGroups="authContextGroups")

					.responsive-control.mb-15
						include includes/responsive-edit-role.pug
	v-jnx-footer
