div
	v-jnx-header(:sectionTitle="sectionTitle")
	.page-content-wrapper.user-views(v-bind:class="{ 'page-content-left' : navBarExpanded }")
		.container-fluid(v-if="dataReady")
			.row
				md-toolbar.form-root-toolbar.md-accent.toolbar-adjust(md-elevation="1")
					.md-toolbar-tools.form-toolbar
						// User edit
						h3.md-title(v-if="viewType == 'edit'" style="flex: 1") {{ $t('user.editUser') }}: {{ user.username }}
						// User create
						h3.md-title(v-if="viewType == 'create'" style="flex: 1") {{ $t('user.createUser') }}

				.container-fluid-flex.spacing-bottom

					.user-btn-responsive
						md-button.user-md-button.md-icon-button.save(aria-label="Save", @click='save')
							md-icon
								span.fa.fa-check.fa-sm

						md-button.md-icon-button.cancel(aria-label="Cancel", @click='cancel')
							md-icon
								span.fa.fa-times.fa-sm

					md-content.spacing-ls
						md-toolbar.form-mid-toolbar
							.md-toolbar-tools
								md-tabs(md-active-tab="tab-user")
									md-tab#tab-user(md-label="USER", @click="currentNavItem='user'")
									md-tab#tab-contact(md-label="CONTACT", @click="currentNavItem='userContact'")

								span(flex)

								md-button.user-btn.md-icon-button.save(aria-label="Save", @click='save')
									md-icon
										span.fa.fa-check.fa-sm

								md-button.user-btn.md-icon-button.cancel(aria-label="Cancel", @click='cancel')
									md-icon
										span.fa.fa-times.fa-sm

						.user-form(v-if="currentNavItem == 'user'")
							md-content.staff-form.flex-container(layout-padding)
								.container-flex-form
									v-jnx-user(section-title="user.user", :data="user", password="true")
									v-jnx-role(section-title="user.roles", :data="roles")

						.user-form(v-if="currentNavItem == 'userContact'")
							.container-flex-form.left-side-adjust.user-contact
								.staff-form-left
									v-jnx-person-name(section-title='party.contact', :data='user.contact')
									v-jnx-address(section-title='party.addressesTitle', :data='user.contact')

								.staff-form-right
									v-jnx-person-job(section-title='staff.jobTitle', :data='user.contact')
									v-jnx-phone(section-title='party.phonesTitle', :data='user.contact')
									v-jnx-email(section-title='party.emailsTitle', :data='user.contact')

					.user-btn-responsive
						md-button.user-md-button.md-icon-button.save(aria-label="Save", @click='save')
							md-icon
								span.fa.fa-check.fa-sm

						md-button.md-icon-button.cancel(aria-label="Cancel", @click='cancel')
							md-icon
								span.fa.fa-times.fa-sm
	v-jnx-footer

	// user create
	span(v-if="viewType == 'create'")
		md-dialog-alert(
			:md-active.sync='dialog.show',
			:md-content='$t(dialog.message)',
			:md-confirm-text='$t("label.ok")')
