.sd-page-content-wrapper

	// Draggable Group list
	draggable(v-model='authContextGroups', :options="{draggable:'.auth-context-group', group: listTypes.authContextGroup}", @end="groupMoved")
		.auth-context-group(v-for='authContextGroup in authContextGroups')
			.group-element
				table
					tbody
						tr
							td.name {{ authContextGroup.name }}
							td.options
								router-link.action-button(:to="{name: 'authContextGroupEdit', params: {authContextGroupCode: authContextGroup.code}}")
									span.fa.fa-pencil.fa-lg
								| &nbsp&nbsp
								a.action-button(href='#', @click='openDeleteAuthContextGroupDialog(authContextGroup)')
									span.fa.fa-trash.fa-lg

			// Draggable Authorization Context list
			draggable.draggable(v-model='authContextGroup.values', :options="{draggable:'.auth-context', group: listTypes.authContext}", @end="authContextMoved(authContextGroup, $event)")
				.auth-context(:id="authContext.name", v-for='authContext in authContextGroup.values')
					.element
						table.context-list
							tbody
								tr
									td.name {{ authContext.name }}
									td.bits
										span(v-for="authBit in authCBitsToArray(authContext.bit)") &nbsp&nbsp {{ authBit.label }}
									td.options
										router-link.action-button(:to="{name: 'authContextEdit', params: {contextGroupCode: authContextGroup.code, contextName: authContext.name, copyFromContext: false}}")
											span.fa.fa-pencil.fa-lg

										| &nbsp&nbsp
										a.action-button(href='#', @click='openDeleteAuthContextDialog(authContextGroup.code, authContext.name)')
											span.fa.fa-trash.fa-lg

										| &nbsp
										router-link.action-button(:to="{name: 'authContextEdit', params: {contextGroupCode: '*', contextName: '*', copyFromContext: authContext.name}}")
											span.fa.fa-files-o.fa-lg

	.text-left
		router-link.link.secondary(:to="{name:'authContextCreate'}")
			span.fa.fa-plus.fa-lg
			| &nbsp {{ $t('permission.addAuthContext') }}
		p
			router-link.link.primary(:to="{name: 'authContextGroupCreate'}")
				span.fa.fa-plus.fa-lg
				| &nbsp {{ $t('permission.addDisplayGroup') }}

	md-snackbar(md-position='center', :md-duration="snackbar.duration", :md-active.sync='snackbar.show')
		span {{ $t(snackbar.message) }}
		md-button.md-primary(@click='snackbar.show = false') {{ $t('label.ok') }}

	md-dialog-confirm(
	:md-active.sync='showDelConf',
	md-title="Confirm delete?",
	:md-content='deleteTarget',
	:md-confirm-text='$t("label.ok")',
	:md-cancel-text='$t("label.no")',
	@md-cancel='',
	@md-confirm='deleteConfirmed')

	md-dialog-alert(
	:md-active.sync='dialog.show',
	:md-content='$t(dialog.message)',
	:md-confirm-text='$t("label.ok")')
